{% extends 'base.html' %}
{% block index %}
{% if error %}
<script>
alert('{{ error }}');
</script>
{% endif %}
<link rel="stylesheet" href="/static/css/signin.css">
<div class="bg_color_2">
    <form id="info" action="/signup/" method="post" style="min-height:780px;">
        {% csrf_token %}
        <div class="my-3 my-md-5" style="padding: 80px;">
        <div class="container">
            <h1 style="margin-left:450px;color: white">病人注册</h1><br/><br/>
        <div class="row" style="background: white;padding: 40px;">
        <div class="col-lg-12">
          <form class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="form-label">姓名</label>
                      <input style="display: none" type="text" name="role" class="form-control" value="patient">
                    <input required type="text" name="name" class="form-control" placeholder="Your name">
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label class="form-label">性别</label>
                    <select  name="sex" class="form-control">
                      <option>男</option>
                       <option>女</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group">
                    <label class="form-label">邮箱地址</label>
                    <input required type="email" name="email" class="form-control" placeholder="Your Email">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="form-label">联系电话</label>
                    <input required type="text" name="tel" class="form-control" placeholder="Your Tel">
                  </div>
                </div>

                <div class="col-md-9">
                  <div class="form-group">
                    <label class="form-label">家庭地址</label>
                    <input required type="text" name="address" class="form-control" placeholder="Home Address" value="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group">
                    <label class="form-label">密码</label>
                    <input required id="password" type="password" name="password" class="form-control" placeholder="Your Password">
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="form-group">
                    <label class="form-label">再次输入密码</label>
                    <input required id="repassword" type="password" name="repassword" class="form-control" placeholder="Again Your Passwrod">
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              <button type="button" onclick="get_pass_enter()" class="btn btn-primary">注册</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    </form>
</div>
<script>
function get_pass_enter() {
  if($("#password").val()!=$("#repassword").val()){
      alert("两次密码不相同");
  }
  else{
      $("#info").submit();
  }
}

</script>
{% endblock %}

