{% extends 'base.html' %}
{% block index %}
<div class="banner">
	<div class="container">
		<div class="banner-main">
			 <h3>我们为预防康复协助工作</h3>
			 <p>预防医学在疾病防治中的作用 预防医学是一门综合性学科,在医学领域中有着较特殊的地位。</p>
		</div>
	</div>
</div>
<div class="about" id="about">
	<div class="container">
		<div class="abou-main">
			<div class="about-top">
				<h2>关于我们</h2>
				<p>具有丰富的理论知识和实践经验，健康教育现状及发展趋向等问题，我们的观点和经验,在我们开展健康教育中可以借鉴。</p>
			</div>
			<div class="about-bottom">
				<div class="col-md-4 about-grid">
					<img src="/static/images/a1.jpg" alt="" class="img-responsive">
					<div class="grid-details">
						<h3>在线视频教程</h3>
						<p>旨在丰富教师的教学手段,帮助学生学习相关专业的理论知识，学习难度大等特点。</p>
					</div>
				</div>
				<div class="col-md-4 about-grid">
					<img src="/static/images/a2.jpg" alt="" class="img-responsive">
					<div class="grid-details">
						<h3>大量的教程共参考</h3>
						<p> 随着信息与通迅技术的快速发展,医疗视频也将具有十分广阔的教育应用前景。</p>
					</div>
				</div>
				<div class="col-md-4 about-grid">
					<img src="/static/images/a3.jpg" alt="" class="img-responsive">
					<div class="grid-details">
						<h3>医生在线指导</h3>
						<p>这是一种长期、稳定、可及的健康服务关系,以提高您的健康服务品质。</p>
					</div>
				</div>
			  <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}